body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    padding: 20px;
    height: 250px;
    text-align: center;
    background-image: url("image/background.jpeg");
    background-position: bottom;
    background-size: 100%;
}

header a {
    margin-top: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

header .mobile {
    display: none;
}

header .logo a {
    background-image: url("image/logo.png");
    background-size: 200px;
    display: inline-block;
    background-repeat: no-repeat;
    height: 100px;
    width: 280px;
    text-indent: -9999999px;
    position: relative;
    top: -50px;
    background-position: center;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 720px) {
    header {
        height: 200px;
    }

    header .mobile {
        display: inline-block;
    }

    header .desktop {
        display: none;
    }
}

.features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure {
    margin: auto;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
}

.features figure img {
    border: 1px solid white;
    width: 200px;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
}

div {
    background: blue;
    margin: auto;
    width: 100px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}



/* RESPONSE RULES
@media screen and (max-width: 720px) {
    .features {
        display: block;
    }
} */


footer {
    background: black;
    color: gray;
    padding: 20px 20px;
    font-size: 12px;
    text-align: center;

}
